.form {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input {
    height: 40px;
    width: 100%;
    font-size: 20px;
    padding: 0 20px;
    border: 1px solid rgb(180, 176, 176);
}

.form button {
    height: 40px;
    width: 40px;
    border: none;
    background-color: rgb(248, 68, 59);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form button:hover {
    background-color: rgb(228, 14, 2);
}
