.tasks {
    margin-top: 20px;
}

.tasks li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    transition: all 600ms;
}

.tasks li .text {
    list-style-type: none;
    width: 80%;
    word-wrap: break-word;
}
/*rgb(89, 192, 243)*/
.tasks li:hover {
    background-color: rgb(61, 11, 109);
    color: white;
}

.icons {
    display: flex;
}

.edit {
    margin: 0px 15px;
    color: blue;
}

.delete {
    color: red;
}

.edit,
.delete {
    cursor: pointer;
}

.tasks li:hover .edit,
.tasks li:hover .delete {
    color: white;
    transition: all 600ms;
}