.main {
    background-color: #fff;
    padding: 30px;
    max-width: 400px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.main h1 {
    font-size: 20px;
    text-align: center;
}

.form {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input {
    height: 40px;
    min-width: 80%;
    font-size: 20px;
    padding: 0 20px;
    border: 1px solid rgb(180, 176, 176);
}

.form button {
    height: 40px;
    width: 40px;
    border: none;
    background-color: rgb(248, 68, 59);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form button:hover {
    background-color: rgb(228, 14, 2);
}

.tasks {
    margin-top: 20px;
}

.tasks li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(180, 176, 176);
    padding: 2px 0px;
}

.edit {
    margin: 0 15px;
}