.main {
    background-color: #fff;
    padding: 30px;
    max-width: 400px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.main h1 {
    font-size: 20px;
    text-align: center;
}
